@import "tailwindcss";
@font-face {
  font-family: Orbitron;
  src: url(./font/Orbitron-VariableFont_wght.ttf);
}
@font-face {
  font-family: inter;
  src: url(./font/Inter.ttf);
}
@font-face {
  font-family: "IMFellGreatPrimerSC";
  src: url(./font/IMFellGreatPrimerSC-Regular.ttf);
}

@theme {
  --font-Orbitron: "Orbitron", sans-serif;
  --font-inter: "inter", sans-serif;
  --color-primary: #010208;
  --font-IMFellGreatPrimerSC: "IMFellGreatPrimerSC", serif;
  --breakpoint-sm: 400px;
  --breakpoint-md: 700px;
  --breakpoint-lg: 854px;
}

body {
  @apply bg-primary;
}

.gradient-1 {
  background: linear-gradient(
    99.05deg,
    rgba(188, 60, 216, 1) 0%,
    rgba(197, 75, 140, 1) 100%
  );
}
